### FALTA LIMPIAR COLUMNAS. CAMBIAR VALORES STR A NUMERICOS. USAR TODAS LAS COLUMNAS.
### pasar mi KEY feature al final (clase en este caso)
# x = todas las columnas excepto y
# y = mis clases

In [1]:
#Importing the required modules
import pandas as pd
import numpy as np 
from scipy.stats import mode
import matplotlib.pyplot as plt

In [40]:
from sklearn.metrics import accuracy_score

In [8]:
df = pd.read_csv('Indicadores_municipales_sabana_DA.csv', encoding ='latin_1' )
df2 = df[['nom_mun', 'pobtot_ajustada','cpic_rezedu']]

bin_edges = [0, 2.51, 4.51, float('inf')]
bin_labels = ['Baja','Media', 'Grave']

df2['class'] = pd.cut(df['cpic_rezedu'], bins=bin_edges, labels=bin_labels)
df2['class'] = df2['class'].astype(str)
df2

C:\Users\Ivanc\AppData\Local\Temp\ipykernel_3212\4224394511.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['class'] = pd.cut(df['cpic_rezedu'], bins=bin_edges, labels=bin_labels)
C:\Users\Ivanc\AppData\Local\Temp\ipykernel_3212\4224394511.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['class'] = df2['class'].astype(str)

                    nom_mun  pobtot_ajustada  cpic_rezedu  class
0            Aguascalientes           794304     2.111344   Baja
1                  Asientos            48592     2.504305   Baja
2                  Calvillo            53104     2.378428   Baja
3                     Cosío            14101     2.118768   Baja
4               Jesús María           101379     2.221982   Baja
...                     ...              ...          ...    ...
2451          Villa Hidalgo            21016     2.655873  Media
2452             Villanueva            27385     2.575823  Media
2453              Zacatecas           117528     2.161391   Baja
2454               Trancoso            20456     2.635323  Media
2455  Santa María de la Paz             2772     2.588529  Media

[2456 rows x 4 columns]

In [9]:
pob_rez = df2[['pobtot_ajustada', 'cpic_rezedu']]
print(type(pob_rez))
pob_rez

<class 'pandas.core.frame.DataFrame'>

      pobtot_ajustada  cpic_rezedu
0              794304     2.111344
1               48592     2.504305
2               53104     2.378428
3               14101     2.118768
4              101379     2.221982
...               ...          ...
2451            21016     2.655873
2452            27385     2.575823
2453           117528     2.161391
2454            20456     2.635323
2455             2772     2.588529

[2456 rows x 2 columns]

In [11]:
classes = df2[['class']]
classes

      class
0      Baja
1      Baja
2      Baja
3      Baja
4      Baja
...     ...
2451  Media
2452  Media
2453   Baja
2454  Media
2455  Media

[2456 rows x 1 columns]

In [42]:
df2

                    nom_mun  pobtot_ajustada  cpic_rezedu  class
0            Aguascalientes           794304     2.111344   Baja
1                  Asientos            48592     2.504305   Baja
2                  Calvillo            53104     2.378428   Baja
3                     Cosío            14101     2.118768   Baja
4               Jesús María           101379     2.221982   Baja
...                     ...              ...          ...    ...
2451          Villa Hidalgo            21016     2.655873  Media
2452             Villanueva            27385     2.575823  Media
2453              Zacatecas           117528     2.161391   Baja
2454               Trancoso            20456     2.635323  Media
2455  Santa María de la Paz             2772     2.588529  Media

[2456 rows x 4 columns]

In [47]:
df2.columns[1]

'pobtot_ajustada'

In [33]:
X_train = df2.iloc[:1964, 1:3].values
X_test = df2.iloc[1964:, 1:3].values

y_train = df2.iloc[:1964, 3].values
y_test = df2.iloc[1964:, 3].values

In [37]:
def eucledian(p1,p2):
    dist = np.sqrt(np.sum((p1-p2)**2))
    return dist
 
def predict(x_train, y , x_input, k):
    op_labels = []
     
    for item in x_input: 
         
        #distances storage
        point_dist = []
         
        #data to be processed
        for j in range(len(x_train)): 
            distances = eucledian(np.array(x_train[j,:]) , item) 
            #Calculating the distance
            point_dist.append(distances) 
        point_dist = np.array(point_dist) 
         
        #preserve the index
        dist = np.argsort(point_dist)[:k] 
         
        labels = y[dist]
         
        #voting
        lab = mode(labels) 
        lab = lab.mode[0]
        op_labels.append(lab)
 
    return op_labels

In [38]:
predictions = predict(X_train, y_train, X_test, k=3)

C:\Users\Ivanc\AppData\Local\Temp\ipykernel_3212\2623693198.py:35: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  lab = mode(labels)
C:\Users\Ivanc\AppData\Local\Temp\ipykernel_3212\2623693198.py:35: DeprecationWarning: Support for non-numeric arrays has been deprecated as of SciPy 1.9.0 and will be removed in 1.11.0. `pandas.DataFrame.mode` can be used instead, see https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.mode.html.
  lab = mode(labels)

In [39]:
predictions

['Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Grave',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Grave',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Grave',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Baja',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Grave',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media',
 'Media']

In [41]:
accuracy_score(y_test, predictions)

0.8699186991869918

x_train: This variable should contain your training data. x_train should be a 2D NumPy array where each row represents a data point, and each column represents a feature. Y

y: This variable should contain the labels for your training data. y should be a 1D NumPy array or list where each element corresponds to the label of the corresponding data point in x_train.

x_input: This variable should contain the data points that you want to classify or predict labels for. Like x_train, x_input should be a 2D NumPy array where each row represents a data point, and each column represents a feature.

k: The k parameter represents the number of nearest neighbors to consider when making predictions. You need to specify a value for k according to your specific problem and dataset.

Before calling the predict function, ensure that you have prepared your training data (x_train and y) and your test data (x_input) in the required format.

After preparing your data and setting the value of k, you can call your predict function as follows: